*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.connect-1{
    background-color: #033B1F;
    padding: 0 1rem 0rem 3rem;
    width: 15%;
    color: #E5E5E5;
}

.connect-2{
    background: rgb(3,69,36);
    background: linear-gradient(135deg, rgba(3,69,36,1) 31%, rgba(7,23,12,1) 49%, rgba(57,0,0,1) 100%);
    width: 85%;
}
#logo{
    display: none;
}
#cancel{
    display: none;
}
#hamburger-menu{
    display: none;
}

.nav-mobile{
    display: none;
}

.collections-section{
    display: flex;
}

.nav2{
    padding: 2rem 8rem 0rem 10rem;
    display: flex;
    justify-content: space-between;
}

.nav2 a{
    line-height: 40px;
}

.nav2 input[type=text]{
    width: 50%;
    padding: 12px 30px 12px 40px;
    background-color: #EBEAEB;
    border: none;
    color: #000;
    border-radius: 30px;
    background-image: url('/IMAGES/search-line.png');
    background-position: 10px ;
    background-repeat: no-repeat;
}

.connect-1-b{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}

.connect-1-b a:hover, .connect-1-b a:focus{
    border: 1px solid #F4B40D;
}

.connect-1-a img{
    width: 6rem;
    padding: 2rem 0 2rem  3rem;
}

.free-trial{
    background-color: #35541B;
    margin: 1rem 0;
    padding: 15px 3px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.free-trial a{
    color: #F4B40D;
}

.free-trial a:hover{
   color: #fff;
}

#logout{
    margin: 0 auto 3rem auto;
}

.connect-1-b a{
    display: inline-block;
    padding: 0 6px;
    transition: 0.6s;
    width: 150px;
    border-radius: 8px;
}

#nav-middle:hover {
    color: #F4B40D;
}

/* end of common styling */

.container-part-a{
    background-color: #443D16;
}

#hip-pic{
    width: 300px;
}

.tweet{
    background-color:  #3b300d;
    color: #fff;
    border-radius: 10px;
    margin: 14px 0 17px 0;
    width: 200px;
    padding: 10px;
}

.tweet-part-b{
    display: flex;
    gap: 1rem;
}

/* second part */

.container-1{
    margin: 2.2rem 7rem 0 7rem;
}

.container-part-a{
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0 0 ;
    border-radius: 10px;
}

.container-part-b{
    padding: 2rem 12px 0 0;
}

.container-part-b h4{
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 15px 0 ;
}

#text-1{
    font-size: 13px;
    width: 76%;
    line-height: 20px;
    font-weight: 100;
}

.container-part-b p{
    font-size: 12px;
    font-weight: 100;
}

.container-1 h3{
    font-size: 1.7rem;
    font-weight: 200;
    margin: 0 0 1rem 0;
}

.tweet-part-a{
    margin:  0 0 7px  0;
    display: flex;
    gap: 8px;
}

.ri-check-line{
    background-color: rgb(44, 44, 179);
    color: #fff;
    border-radius: 100px;
}

.started-part{
    display: flex;
    gap: 4rem;
}

.started-part p{
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    width: 60%;
}

.started-part button{
    background-color: #F4B400; 
    border: none;
    color: #000;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 800;
}

.started-part button:hover{
    background-color: #000;
    color: #F4B400; 
}

.container-2{
    margin: 4.2rem 7rem 2rem 7rem;
    width: 600px;
    color: #fff;
}

#view{
    text-decoration: dashed !important;
}

#view:hover{
    color: #F4B40D;
}

#view{
    text-align: right;
}

.container-part-c{
    background-color: #443D16;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 22px 0 0 1rem;
}

.container-part-c img{
    width: 40px;
}

.part-1{
    display: flex;
    gap: 2rem;
}

.direct{
    display: flex;
    /* gap: 7rem; */
    width: 100%;
    justify-content: space-between;
    padding: 0 23px 0 0;
}

.part-1-a{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.part-1-b{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span{
    font-size: 9px;
}

/* **************************************** mediaquery **************************************/
@media only screen and (max-width:992px){
    .connect-1 {
        padding: 0 1rem 0rem 1rem;
    }
}

@media only screen and (max-width:768px){
    .container-part-a{
        flex-direction: column;
    }
    .started-part{
        flex-direction: column;
    }
    .container-part-b{
        padding:20px;
        text-align: center;
    }
    #text-1{
        width: 100%;
    }
    #hip-pic{
        width: 100%;
    }
    .tweet{
        width: 100%;
        padding: 10px 30px ;
    }
    .tweet-part-a, .tweet-part-b{
        justify-content: center;
        align-items: center;
    }
    .started-part p{
        width: 100%;
    }
    .started-part{
        gap: 2rem;
    }

/* second part */
.container-part-c{
    max-width: 400px;
}
}

@media only screen and (max-width:576px){
   
    header{
        padding: 50px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-right: 40px;
    }
    .nav-mobile{
        display: flex;
        gap: 10px;
    }
    .nav-mobile a{
        display: inline-block;
        width: 40px;
        line-height: 50px;
    }
    .nav2{
        padding-right: 0;
        padding-top: 0;

    }
    #search-bar{
        width: 280px;
        height: 40px;
        margin-top: 5px;
        padding-left: 30px;
        transition: 1000ms;
    }
    #search-bar, #nav-middle, #nav-btn{
        display:none;
        
    }
    #hamburger-menu{
        display: unset;
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        backdrop-filter: blur(4px);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s; 
    }
    #cancel{
        display: block;
        position: absolute;
        top: 3%;
        right: -7%;
    }
    .hamburger-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 7%;
        width: 100%;
        margin-left: 30px; 
    }
    #hamburger-btn{
        padding: 5px 20px;
        background-color: transparent;
        border: 2px solid #F4B40D;
        border-radius: 10px;
        color: #fff;
    }
    #nav-hamburger:hover{
        color: #F4B40D;
        transition: 300ms;
    }
    .connect-1-b a:hover{
        border: none;
    }
    /* end of hamburger */
    .collections-section{
        position: relative;
    }
    #logo{
        position: absolute;
        display: block;
    }
    .connect-1{
        padding: 2rem 0;
        width: 0%;
        display: unset;
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        backdrop-filter: blur(4px);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s; 
        text-align: center;
        
    }
    .connect-1-b{
        
    }
    .connect-1-b a{
        margin-left: auto;
        margin-right: auto;
        padding-left: 35px;
    }
    .connect-2{
        padding: 2rem 0;
        width: 100%;
    }

    /* second part */
.container-part-c{
    max-width: 400px;
}
.container-1{
    margin: 2.2rem 3rem 0 3rem;
}
.container-2{
    margin: 2.2rem 3rem 0 3rem;
}
.container-part-c{
    margin: 0px 0 0 0rem;
}
}

@media only screen and (max-width:375px){
    .connect-1{
        padding: 1rem 0;
    }
    .connect-2{
        padding: 1rem 0;
    }
    .container-1{
        margin: 2.2rem 1rem 0 1rem;
    }
    .container-2{
        margin: 2.2rem 1rem 0 1rem;
    }
    .container-part-c{
        max-width: 300px;
    }
    .direct{
        padding: 0;
    }
}