*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
    /* background: linear-gradient(90deg, rgba(1,41,22,1) 0%, rgba(40,42,22,1) 35%, rgba(35,2,1,1) 100%); */
}

/* ************** GENERAL STYLING ********************/
a{
    text-decoration: none;
}

::placeholder {
    font-size: 13px;
    color: #ABAAAA;
    text-align: center;
}

hr{
    border: #F4B400 0.1px groove;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#logo{
    display: none;
}
#cancel{
    display: none;
}
#hamburger-menu{
    display: none;
}

.nav-mobile{
    display: none;
}

.connect-1{
    background-color: #033B1F;
    padding: 0 1rem 0rem 3rem;
    width: 15%;
    color: #E5E5E5;
}

.connect-1-a img{
    width: 6rem;
    padding: 2rem 0 2rem  3rem;
}

.icon{
    font-size: 16px;
    padding: 0 7px  0 0;
    line-height: 30px;
}

.iconl{
    font-size: 19px;
    padding: 0 7px  0 0;
    line-height: 30px;
}

.connect-1-b a{
    display: inline-block;
    padding: 0 6px;
    transition: 0.6s;
    width: 150px;
    border-radius: 8px;
}

.connect-1-b a:hover, .connect-1-b a:focus{
    border: 1px solid #F4B40D;
}

.connect-2{
    background: rgb(3,69,36);
    background: linear-gradient(135deg, rgba(3,69,36,1) 31%, rgba(7,23,12,1) 49%, rgba(57,0,0,1) 100%);
    width: 85%;
}

.connect-wallet{
    display: flex;
}

#wallet-icon{
    width: 35px;
    border-radius: 100%;
}

.wallet, .phantom, .meta, .coinbase{
    display: flex;
    line-height: 30px;
    gap: 12px;
}

.connect-1-b{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}

.free-trial{
    background-color: #35541B;
    margin: 1rem 0;
    width: 100%;
    padding: 15px 3px;
    font-size: 14px;
    text-align: center;

}

#logout{
    margin: 0 auto 3rem auto;
}


.free-trial a{
    color: #F4B40D;
}

.free-trial a:hover{
   color: #fff;
}

.nav2{
    padding: 2rem 8rem 0rem 10rem;
    display: flex;
    justify-content: space-between;
}

.nav2 a{
    line-height: 40px;
}

.nav2 input[type=text]{
    width: 50%;
    padding: 12px 30px 12px 40px;
    background-color: #EBEAEB;
    border: none;
    color: #000;
    border-radius: 30px;
    background-image: url('/IMAGES/search-line.png');
    background-position: 10px ;
    background-repeat: no-repeat;
}

.container-btn{
    display: grid;
    place-items: center;
}

button{
    background: transparent;
    border:1px #F4B40D solid ;
    font-size: 13px;
    color: black;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    padding: 6px 12px;
}

button a:hover{
    color: #000;
}


button:hover{
    transition: 300ms;
    background: #F4B40D;
    color: #000;
}

.container{
    background: rgba(34,72,29,0.3);
    /* background: linear-gradient(90deg, rgba(34,72,29,1) 31%, rgba(21,16,8,1) 49%, rgba(58,1,1,1) 100%); */
    backdrop-filter: blur(8px);
    max-width: 400px;
    margin: 3rem auto 0 auto;
    padding: 1.5rem;
    border-radius: 15px;
}

.container-2-3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-2-3 a:hover{
    color: #F4B400 ;
}

.container-1 h3{
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0 0 8px 0;
}

.container-1 p{
    font-size: 12px;
    font-weight: 200;
    color: #EBEAEB;
    padding: 0 0 7px 0;
}

.container #gold {
    color: #F4B40D;
}

.container #gold:hover{
    color: #fff;
}

.container-2{
    padding: 2rem 0 1rem 0;
}

.container-3 p{
    padding: 10px 0 0 0;
    font-size: 12px;
    font-weight: 200;
}

 #nav-middle:hover {
    color: #F4B40D;
}

/* **************************************** mediaquery **************************************/
@media only screen and (max-width:992px){
    
}
@media only screen and (max-width:576px){
   
    header{
        padding: 50px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-right: 40px;
    }
    .nav-mobile{
        display: flex;
        gap: 10px;
    }
    .nav-mobile a{
        display: inline-block;
        width: 40px;
        line-height: 50px;
    }
    .nav2{
        padding-right: 0;
        padding-top: 0;

    }
    #search-bar{
        width: 280px;
        height: 40px;
        margin-top: 5px;
        padding-left: 30px;
        transition: 1000ms;
    }
    #search-bar, #nav-middle, #nav-btn{
        display:none;
        
    }
    #hamburger-menu{
        display: unset;
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        backdrop-filter: blur(4px);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s; 
    }
    #cancel{
        display: block;
        position: absolute;
        top: 3%;
        right: -7%;
    }
    .hamburger-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 7%;
        width: 100%;
        margin-left: 30px; 
    }
    #hamburger-btn{
        padding: 5px 20px;
        background-color: transparent;
        border: 2px solid #F4B40D;
        border-radius: 10px;
        color: #fff;
    }
    #nav-hamburger:hover{
        color: #F4B40D;
        transition: 300ms;
    }
    .connect-1-b a:hover{
        border: none;
    }
    /* end of hamburger */
    .collections-section{
        position: relative;
    }
    #logo{
        position: absolute;
        display: block;
    }
    .connect-1{
        padding: 2rem 0;
        width: 0%;
        display: unset;
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        backdrop-filter: blur(4px);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s; 
        text-align: center;
        
    }
    .connect-1-b a{
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
    }
    .connect-2{
        padding: 2rem 0;
        width: 100%;
    }

    /* second part */
.container-part-c{
    max-width: 400px;
}
.container-1{
    margin: 2.2rem 3rem 0 3rem;
}
.container-2{
    margin: 2.2rem 3rem 0 3rem;
}
.container-part-c{
    margin: 0px 0 0 0rem;
}
}
